p#pogrubienie_jasi {
font-size: 34px;
color: rgb(127,93,203);
}

p#pochylona_jasi {
font-size: 39pt;
color: rgb(227,193,103);
}

p#index_gorny_jasi {
font-size: 3cm;
color: rgb(147,143,23);
}

p#index_dolny_jasi {
font-size: 3,5cm;
color: rgb(47,243,23);
}

p#mono_jasi {
font-size: 40px;
color: rgb(19,223,103);
}

p#powiekszenie_jasi {
color: rgb(77,63,153);
}

p#pomniejszenie_jasi {
color: rgb(177,163,53);
}
