p#pogrubienie_skaw{
font-size: 34px;
color: rgb(137,96,206);
}

p#pochylona_skaw{
font-size: 39pt;
color: rgb(237,196,106);
}

p#index_gorny_skaw{
font-size: 3cm;
color: rgb(151,146,26);
}

p#index_dolny_skaw{
font-size: 3,5cm;
color: rgb(51,246,26);
}

p#mono_skaw{
font-size: 40px;
color: rgb(23,226,156);
}

p#powiekszenie_skaw{
color: rgb(87,66,156);
}

p#pomniejszenie_skaw{
color: rgb(187,166,56);
}
